.container-car{
    @include mxW();
    margin: 5rem auto;
    @include paddingSection();
    .container-int{
        @include paddingSection();

        background: $bgSection;
        border-radius: 15px;
        h2{
            color: #0A100D;
            text-transform: uppercase;
        }
        .carousel-item {
          text-align: center;
          padding: 2rem;
        }
        .customer-photo {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
        .review-text {
            font-style: italic;
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon{
          background-color: #0A100D;
          border-radius: 10px;
          
        }

    }

  }
