header{
    @include flex(column, center, center);
    gap: 7rem;
    background: linear-gradient(rgba(17, 17, 17, 0.5), rgba(20, 20, 20, 1)), url('../assets/imgs/banner.webp') center / cover;
    background-color: black;
    text-shadow: 0 0 2px black;
    height: 110vh;
    text-align: center;
    color: #F6FFF8;    
    
    h1{
        padding: 0 .1rem;
        font-size: 6rem;
        @include mxW();
        @include poppins(800, italic);

    }
    p{
        @include poppins(600, italic);
        max-width: 400px;
        font-size: 1.2rem;
    }
    
    
    @media(max-width: 750px){
        @include flex(column,space-around, center);
        height: 100vh;
        h1{
            font-size: 12dvw;
            line-height: 5rem;
            
        }
        p{
            font-size: 2dvh;
        } 
    }

}