@import './var';

nav {
    background: $bgNav;
    padding: 2rem 3rem 1rem;
    width: 100%;
    position: fixed;
    z-index: 10;
}
ul {
    @include flex(row, flex-end, center);
    text-align: center;
    gap: 4rem;
    list-style: none;
    height: 2rem;
    li { 
        color: #F6FFF8;
        a {
            color: #F6FFF8;
            text-decoration: none;
            text-transform: uppercase;
        }
        transition: all 0.4s ease-in-out;
        &:hover{
            opacity: 0.5;
            border-bottom: 1px solid ;
        }
    }
    
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    div {
        width: 30px;
        height: 3px;
        background: #F6FFF8;
    }
    
}



@media (max-width: 650px) {
    ul {
        display: none;
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: $bgNav;
        padding: 1rem 0;
    }
    .hamburger {
        display: flex;
    }
    ul.active {
        height: min-content;
        display: flex;
        z-index: 10;
        -webkit-box-shadow: 0px 18px 24px -15px rgba(0,0,0,0.62);
        -moz-box-shadow: 0px 18px 24px -15px rgba(0,0,0,0.62);
        box-shadow: 0px 18px 24px -15px rgba(0,0,0,0.62);
    }
}
