$bgBody: #D6D5C9;
$bgNav: #0A100D;
$bgSection: #B9BAA3;
$bgCard: #EAF4F4;
$fontTitle: #0A100D;


@mixin flex($direction, $justify, $items){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $items;
}

@mixin mxW(){
    max-width: 1300px;
    margin: 0 auto;
}

@mixin paddingSection(){
    padding: 5rem 1rem;
}

@mixin poppins($weight, $style){
    font-family: "Poppins", sans-serif;
    font-weight: $weight;
    font-style: $style;
    
}