@import './nav';
@import './var';
@import './header';
@import './infos';
@import './team';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: $bgBody;
}

main{
    width: 100%;
    height: 100%;
}